/*style.css*/

body {
	background: url("images/darkflow.jpg");
  background-size: cover;
	color: blue;
	font-size: 30px;
	font-family: Helvetica;
}
h1 {
	font-family: Courier;
	color: red;
	font-weight: lighter;
	font-size: 20px;
}
h2 {
	font-family: Courier;
	color: pink;
	font-weight: lighter;
	font-size: 12px;
}
a {
	color: purple;
}
a:hover {
	text-decoration: underline;
	color: purple;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 0px 0px 5px gray;
}
b {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
b:hover{
  border:1px solid black;
  width: 450px;
  height: 450px;
  border-radius: 50px;
  box-shadow: 0px 0px 3px black;
}

/*Configurações do cabeçalho*/
#banner{
  text-align: center;
  background-image: url(images/StudySpace.jpg);
  background-size: cover;
  padding: 175px;
  color: white;
  text-shadow: 5px 5px 15px black;
}
#banner h1 {
  color: white;
  font-size: 50px;
}
#banner h2 {
  color: purple;
  font-size: 35px;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
 }
 #banner a {
 	color: purple;
 	opacity: 0,4
 }
/*Configurações do rodapé*/
#footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
#footer a{
	color: lightgray;
	font-size: 15px
}
#footer a:hover{
	color:white;
}
/*Configurações do centro*/
.card{
  text-align: center;
  padding: 50px;
  font-weight: lighter;
  color: white;
  text-shadow: 1px 1px 5px black;
	background-size:100%;
}