/*style.css*/
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
	background: url("C:/Users/duals/Documents/GitHub/DeskStation/Images/light-stripes.jpg");
    background-size: cover;
	color: blue;
	font-size: 30px;
	font-family: Helvetica;
}
h1 {
	font-family: Courier;
	color: red;
	font-weight: lighter;
	font-size: 20px;
}
h2 {
  font-family: "Verdana";
	color: gray;
	font-weight: lighter;
	font-size: 20px;
}
a {
	color: purple;
}
a:hover {
	text-decoration: underline;
	color: purple;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 0px 0px 5px gray;
}
b {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
b:hover{
  border:1px solid black;
  width: 1000px;
  height: 1000px;
  border-radius: 200px;
  box-shadow: 0px 0px 20px white;
}

/*Configurações do cabeçalho*/

header {
    width: 100%;
    height: 100px;
    background: #CCC;
    position: relative;

}
.topmenu {
    width: 100%;
    height: 75px;
    background-color: black;
    position: relative;
    border: 2px gray;
    box-shadow: -2px 0px 10px white;
    bottom: 0;//
}
.banner{
  text-align: center;
  background-image: url(C:/Users/duals/Documents/GitHub/DeskStation/Images/StudySpace.jpg);
  background-size: cover;
  padding: 175px;
  color: white;
  text-shadow: 5px 5px 15px black;
  border:2px gray;
  margin: 0px;
  box-shadow: 0px 0px 10px gray;
  position: relative;
}
.banner h1 {
  color: white;
  font-size: 50px;
}
.banner h2 {
  font-family: Arial;
  color: purple;
  font-size: 35px;
}''
.banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
 }
 .banner a {
 	color: purple;
 	opacity: 0,4
 }
/*Configurações do rodapé*/
footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
footer a{
	color: lightgray;
	font-size: 15px
}
footer a:hover{
	color:white;
}
/*Configurações das tags centrais*/
.card{
  text-align: center;
  padding: 50px;
  font-weight: lighter;
  color: white;
  text-shadow: 1px 1px 5px black;
  background-size:100%;
}